@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	font-family: 'Content', cursive;
}
div{
	box-sizing: border-box;
}
h1,p,ul{
	padding: 0;
	margin: 0;
}
ul{
	list-style-type: none;
}
.popup{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.1);
}
.bar1{
	width: 100%;
	float: left;
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	padding: 5px;
}
.bar1 .left{
	width: 15%;
	float: left;
	border-right: 1px solid #ccc;
}
.bar1 .right{
	width: 85%;
	float: left;
	padding: 0 10px;
	display: none;
}
.bar1 .right ul{
	float: right;
}
.bar1 .right ul li{
	float: left;
	background-color:dodgerblue;
	color: #fff;
	margin: 0 5px;
	padding: 5px 15px;
	cursor: pointer;
}
.bar1 .right ul li:hover{
	background-color: deepskyblue;
}
.btn-menu{
	background-image: url("../img/menu.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 30px;
	height: 30px;
	opacity: 0.6;
}
.btn-menu:hover{
	opacity: 1;
	cursor: pointer;
}
.left-menu{
	width: 15%;
	float: left;
	background-color: #eee;
	border-right: 1px solid #ccc;
}
.left-menu ul li{
	width: 100%;
	float: left;
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
}
.left-menu ul li:hover{
	background-color: antiquewhite;
}
.content{
	width: 85%;
	float: left;
	background-color: #fff;
	padding: 5px;
}
table{
	width: 100%;
	border-collapse: collapse;
}
table tr th{
	background-color: #eee;
	border: 1px solid #ccc;
}
table tr td{
	padding: 5px;
	border:1px solid #ccc;
}
table tr:hover td{
	background-color: antiquewhite;
}
.frm{
	width: 500px;
	background-color: #fff;
	border-radius: 5px;
	margin: 20px auto;
	overflow: hidden;
}
.header{
	width: 100%;
	float: left;
	border-bottom: 1px solid #ccc;
	padding: 8px;
	background-color: #eee;
}
.header i{
	float: right;
	opacity: 0.5;
	cursor: pointer;
}
.header i:hover{
	opacity: 1;
}
.body{
	width: 100%;
	float: left;
	padding: 8px;
}
label{
	width: 100%;
	float: left;
}
.frm-control{
	width: 100%;
	float: left;
	padding: 8px;
	box-sizing: border-box;
}
.footer{
	width: 100%;
	float: left;
	padding: 3px;
	border-top: 1px solid #ccc;
	background-color: #eee;
}
.btn{
	padding: 8px 15px;
	color: #fff;
	float: right;
	border-radius: 5px;
	cursor: pointer;
	opacity: 0.6;
}
.btn:hover{
	opacity: 1;
}
.btn-save{
	background-color: dodgerblue;
}
.btn-upd{
	background-color: orangered;
}
.img-box{
	width: 100px;
	height: 100px;
	float: left;
	border: 1px solid #ccc;
	background-image: url("../img/default_bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.img-box input{
	width: 100%;
	height: 100%;
	float: left;
	opacity: 0;
	cursor: pointer;
}
.user-menu{
	width: 50%;
	float: left;
	padding: 10px;
	border: 1px solid #000;
	margin-top: 10px;
	box-sizing: border-box;
}
.user-menu ul li{
	float: left;
	width: auto;
	margin: 10px;
	background-color: #FF4C4F;
	color: #fff;
	padding: 5px 8px;
	cursor: pointer;
}
.user-menu ul li:hover{
	background-color: rgba(255,43,46,1.00);
}